*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}

h1{
    padding: 50px;
    text-align: center;
    background-color: rgb(20, 20, 18);
    color: rgb(145, 116, 43);
    font-size: 50px;
    border: solid goldenrod 3px;    
    font-weight: bolder;
}

.img{
    width: 260px;
    height: 400px;
    background-color: rgb(234, 234, 226);
    padding: 5px;
    border-radius: 10px;
    float: left; 
    margin: 10px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: center;
}

#items{
    font-size: 40px;
}

footer{
    color: black;
    margin-top: 500px;
}
    
.up-arrow{
    text-align: right;
    color: black;
}
#contact{
   display: flex;
    justify-content: space-evenly;
    padding: 60px;
    font-weight: bolder;
    text-align: center;
}
    
.copyright{
        background-color: rgb(194, 154, 52);
}

.icon{
    color: black;
    margin: 10px;
}
    
.icon i:hover{
    color: rgb(164, 130, 28);
    animation:shake 0.75s ;
}

@keyframes shake{
        10%{
            transform: rotate(15deg);
        }
        20%{
            transform: rotate(-15deg);
        }
        30%{
            transform: rotate(15deg);
        }
        40%{
            transform: rotate(-15deg);
        }
    }
    .trans{
        width: 260px;
        height: 400px;
        transition: width 2s, height 4s;
      }
      
    .trans:hover {
        width: 260px;
        height: 330px;
      }